* {
  margin: 0;
  padding: 0;
}

.container {
  height: 900px;
  text-align: center;

  display: grid;
  grid-template-rows: minmax(50px, 2fr) minmax(50px, 1fr) minmax(600px, 12fr) minmax(50px, 1fr);
  grid-template-columns: minmax(50px, 1fr) minmax(150px, 3fr);
  gap:15px;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  background-color: #393f4d;

  display: grid;
  grid-template-rows: minmax(50px, 1fr);
  grid-template-columns: minmax(100px, 1fr) minmax(100px, 3fr);

  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.menu ul,
.menu li {
  font-size: 16px;
  list-style-type: none;
  
}

.menu ul {
  
  display: grid;
  grid-template-rows: minmax(50px, 1fr);
  grid-template-columns: minmax(100px, 1fr) minmax(100px, 1fr) minmax(100px, 1fr) minmax(100px, 1fr);
}
.sidebar {
  background-color: #FF7755;

  display: grid;
  grid-template-rows: minmax(50px, 350px) minmax(50px, 350px) minmax(50px, 350px) minmax(50px, 350px) ;
  grid-template-columns: minmax(100px, 1fr);
  gap: 15px;

  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 4;
  
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
}


.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
}

.nav {
  background-color: #FF7755;

  

  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.nav ul li {
  font-size: 16px;
  text-transform: uppercase;

  
}
.nav ul {
  display: grid;
  grid-template-rows: minmax(50px, 1fr);
  grid-template-columns: minmax(100px, 1fr) minmax(100px, 1fr) minmax(100px, 1fr);
}

.article {
  background-color: #bccbde;

  display: grid;
  grid-template-rows: minmax(150px, 1fr) minmax(150px, 1fr) minmax(150px, 1fr) minmax(150px, 1fr);
  grid-template-columns: minmax(100px, 1fr) minmax(100px, 1fr) minmax(100px, 1fr);
  gap: 15px;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #FFFFFF;
  color: black;
  text-align: center;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  background-color: #393f4d;

  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
}

.footer p {
  font-size: 13px;
  font-weight: normal;  
}
